[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=BackgroundVideo
Exec=/opt/BackgroundVideo/bin/BackgroundVideo
Icon=BackgroundVideo64
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
